
#menu{
    cursor: pointer;
    transition: scale .25s;
}

#menu:hover{
    scale: 1.5;
}


/*movimiento del asidebar al ser activado o desactivado*/


#sidebar--closed{
    position: absolute;
    animation: open .5s ease 1 forwards;
}

@keyframes open {
    from{
        left: -10%
    }
    to{
        left: 0%
    }
    
}

#sidebar--opened{
    margin-right: 5%;
    animation: close .5s ease 1 forwards;
}

@keyframes close {
    from{
        left: 0%
    }
    to{
        left: -10%
    }
    
}

/*trapecio y menu para abrir y cerrar sidebar*/

#sidebar_container{
    position: relative;
}

#sidebar_container::before{

    content: "";
    position: absolute;
    top: 50%;
    left: 3%;
    width: 0em;
    height: 5em;
    margin-left: -1%;
    border-right: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-top: 1em solid transparent;
    border-left: 2em solid black;
    animation: opening_trapeze ease-in-out .5s forwards;
}

@keyframes opening_trapeze {
    to{
        left: -2.5%;
    }
    
}


.bar{
    box-shadow: var(--boxes-shadow);
    height: 100%;
    z-index: var(--middle-z-index);
    opacity: .9;
}


@media screen and (max-width: 750px) {
    #sidebar_container{
        display: none;
    }

    .bar{
        display: none;
    }
    
}