body{
    background: rgb(222, 213, 205);
}
div.arrow {
    display: inline;
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 75%;
	transform: rotate(140deg);}

	.arrow::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: var(--difused-black);
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	.arrow:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: var(--difused-black);
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	.arrow:hover::after {
		transform: rotate(40deg);
		border-color: orange;
		height: 120%;
	}
	.arrow:hover::before {
		border-color: orange;
		transform: scale(.8);
		
	}
	
