
#comp-container{
  position: relative;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 0%;
  
}

#projects_container{
    border: 1.5px solid rgba(0, 0, 0, .25) ;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 2%;
    margin: 5% auto;
    background-color: white;
    width: 90%;
    min-height: 50rem;
}

.code{
    color: white;
}

.pen{
  position: absolute;
  cursor: pointer;
}


.pen:hover{
  scale: 1.1;
  transition-delay: .09s;
  transform: translateY(-5px);
  filter: brightness(.75);
}
#add_square{
  margin: auto 25%;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  transition: font-size filter .25s;
}

#add_square:hover{
  font-size: 2.5rem;
  filter: brightness(1.1)
}


#edit_pen{
  right: 10%;
  top: -15%;

}
#delete_trash{
  right: 5%;
  top: -15%;
}

#form{
  background: var(--input-container-color);
  color: aliceblue;
  z-index: var(--highest-z-index);
  opacity: .95;
  border-radius: 2.5%;
  padding: 5%;
  margin-top: 10%;
  box-shadow: var(--boxes-shadow);
}

.form-edit{
  margin-top: 10%;

}


.card_container::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    inset: 0;
    width: 100%;
    height: 10%;
    display: grid;
    place-items: center;
    background-color: transparent;
    transition: height background-color opacity content 0.2s;

}

.card_container:hover:after{
    content: "no disponible";
    height: 90%;
    background-color: #0d6efd;
    opacity: .5;
    cursor: pointer;

}

.card_container{
    max-width: 25vw;
    min-width: 35%;
    max-height: 27rem;
    margin: 2rem;
    position: relative;
    transition: scale .2s;
}



.card_container:hover{
    scale: 1.05;
    
}

@media only screen and (max-width: 480px) {
    .card_container{
        min-width: 90%;
    }

}

/*--------------------------------------------------------------------------------*/


.project-description{
    color: whitesmoke;
    font-weight: bolder;
  }
  
.box-img{
    margin: 1px;
  }
  
  .porfolio-item {
      display: block;
      position: relative;
      overflow: hidden;
      max-width: 10em;
      margin: auto auto 1em;
      border-radius: 5%;
    }
    .porfolio-item .caption {
      display: flex;
      height: 100%;
      width: 100%;
      background-color: rgba(33, 37, 41, 0.2);
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
    .porfolio-item .caption .caption-content {
      color: #fff;
      margin: auto 2rem 2rem;
    }
    .porfolio-item .caption .caption-content h2, .porfolio-item .caption .caption-content .h2 {
      font-size: 0.8rem;
      text-transform: uppercase;
    }
    .porfolio-item .caption .caption-content p {
      font-weight: 300;
      font-size: 1.2rem;
    }
    @media (min-width: 992px) {
      .porfolio-item {
        max-width: 19em;
        margin: 0;
        border-radius: 5%;
      }
      .porfolio-item .caption {
        transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out, background-color 0.7s;
        transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(0px);
                clip-path: inset(0px);
      }
      .porfolio-item .caption .caption-content {
        transition: opacity 0.25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
      }
      .porfolio-item img {
        transition: -webkit-clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out;
        transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
                clip-path: inset(-1px);
      }
      .porfolio-item:hover img {
        border-radius: 5%;
        -webkit-clip-path: inset(2rem);
                clip-path: inset(2rem);
      }
      .porfolio-item:hover .caption {
        border-radius: 5%;
        background-color: rgba(29, 128, 159, 0.9);
        -webkit-clip-path: inset(1rem);
                clip-path: inset(1rem);
      }
    }
  
    a {
      color: #1D809F;
      text-decoration: underline;
    }
    a:hover {
      color: #17667f;
    }
    
    
    figure {
      margin: 0 0 1rem;
    }
  
    .project-text{
      visibility: hidden
    }
  
    .portfolio-item:hover .project-text{
      visibility:visible;
    }


.img-upload-container{
    place-content: center;
    width: 50%;
    padding: 1rem;
    border: 2px solid var(--gray);
    border-radius: 5%;
    box-shadow: 5px 5px var(--boxes-shadow);
    place-content: center;
    z-index: var(--middle-z-index);

}

.close_buttom:hover{
  scale: 5;
  transition-delay: .09s;
  transform: translateY(-5px);
  filter: brightness(.75);
}








