<section class="container-fluid" id="projects_container">
    <div class="content-section-heading text-center mb-5">
        <h2 class="text-secondary mb-1">Proyectos</h2>
        <h4 class="mb-5 text-danger">Lista de recientes</h4>
    </div>


    <!-- ________________________________________________________________________-->
    <div id="comp_container" *ngIf="projects.length > 0; else noDataTemplate">
        <div *ngFor="let projectPares of projects, let i = index" class="row justify-content-around mt-4">
            <div *ngFor="let project of projectPares let j = index" class="col-lg-5 box-img mb-2 mt-2 position-relative">
                <i class="bi bi-pencil-square pen text-warning" id="edit_pen" (click)="onEditPen(i, j)"></i>
                <i class="bi bi-trash pen text-danger" id="delete_trash" (click)="onDeleteTrash(i, j)"></i>
                <div class="container ml-5" (mouseover)="projectAlertMessage(project.enabled)">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img class="img-fluid" [src]="project.image" [alt]="project.title" imagen />
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <h3>
                                    <a href="#" target="_blank"><code><</code>{{project.title}}<code>/></code></a>
                                </h3>
                                <p>{{project.description}}.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form [formGroup]="form" class="form form-edit">
                    <input *ngIf="editPen && i ==indexsEditProject[0] && j == indexsEditProject[1]" name="title" class="form-control m-2 w-75"  type="text" [placeholder]="project.title" [value]="project.title" formControlName="title">
                    <input *ngIf="editPen && i ==indexsEditProject[0] && j == indexsEditProject[1]" name="description" class="form-control m-2 w-75"  type="text" [placeholder]="project.description" [value]="project.description" formControlName="description">
                    <input *ngIf="editPen && i ==indexsEditProject[0] && j == indexsEditProject[1]" name="image" class="form-control m-2 w-75"  type="text" [placeholder]="project.image" [value]="project.image" formControlName="image" (click)="openUPloadImgForm()">
                    <input *ngIf="editPen && i ==indexsEditProject[0] && j == indexsEditProject[1]" name="linkProject" class="form-control m-2 w-75"  type="text" [placeholder]="project.linkProject" [value]="project.linkProject" formControlName="linkProject">  
                </form>
                <button *ngIf="editPen && i ==indexsEditProject[0] && j == indexsEditProject[1]" class="btn btn-warning text-center w-75 m-2" (click)="onEditButtom(i, j)" >editar</button>
                <button *ngIf="deleteTrash && i ==indexsDeleteProject[0] && j == indexsDeleteProject[1]" class="btn btn-danger text-center w-75 m-2" (click)="onDeleteButtom(i,j)">eliminar</button>
            </div>
        </div>
    </div>
     <!-- formulario para cargar la imagen-->
     <div *ngIf="!editPhoto" class="container-fluid img-upload-container w-50" cdkDrag>
        <div class="input-group-prepend">
             <i class="bi bi-x close_buttom text-right" (click)="openUPloadImgForm()"></i>
              <span class="input-group-text">Imagen de proyecto</span>
        </div>
        <label class="form-label" for="customFile">carga tu imagen aqui</label>
        <input type="file" accept="image/*" name="inputPhoto" (change)="uploadImg($event)" class="form-control" id="customFile"><br>
        <p *ngIf="isUploadingIncomplete" class="p-charg">Cargando...</p>
        <button class="btn btn-success d-block position-relative start-25 w-100 m-2" [disabled]="isUploadingIncomplete" (click)="onSubmitPhoto()">Guardar</button>
    </div>

    <br>
    <!--_____________________________________________________________________________________________-->
    <ng-template #noDataTemplate>
        <app-no-data-template></app-no-data-template>
    </ng-template>

    <!--form-->
    <div class="text-center">
      <i class="bi bi-plus-square text-dark mb-5" id="add_square" (click)="onAddSquare()" *ngIf="!openForm"></i>
    </div>
    <div *ngIf="openForm" cdkDrag id="form">
        <form [formGroup]="form">
            <button *ngIf="openForm" type="button" class="btn-close bg-light close_button" aria-label="Close" (click)="onCloseForm()"></button>
            <div class="form-group-row elementP div">
                <label class="col-sm-2 col-form-label">Proyecto:</label>
                <div class="col-sm-15">
                    <input [ngClass]="{'is-invalid' : Title?.errors && Title?.touched, 'is-valid' : !Title?.errors && Title?.touched}" class="form-control w-75"  type="text" formControlName="title" >
               </div>
               <label class="col-sm-2 col-form-label">Descripción:</label>
                <div class="col-sm-15">
                    <input [ngClass]="{'is-invalid' : Description?.errors && Description?.touched, 'is-valid' : !Description?.errors && Description?.touched}" class="form-control w-75"  type="text" formControlName="description" >
               </div>

               <label class="col-sm-2 col-form-label">imagen:</label>
                <div class="col-sm-15">
                    <input [ngClass]="{'is-invalid' : Image?.errors && Image?.touched, 'is-valid' : !Image?.errors && Image?.touched}" class="form-control w-75" type="text" formControlName="image" (click)="openUPloadImgForm()" readonly placeholder="presiona para cargar la imagen" [value]="imageUrl">
               </div>
               <label class="col-sm-2 col-form-label">Link:</label>
                <div class="col-sm-15">
                    <input [ngClass]="{'is-invalid' : LinkProject?.errors && LinkProject?.touched, 'is-valid' : !LinkProject?.errors && LinkProject?.touched}" class="form-control w-75"  type="url" formControlName="linkProject" >
                    <div *ngIf="LinkProject?.errors && LinkProject?.touched">
                        <small *ngIf="LinkProject?.hasError('required')" class="text-danger">El campo nombre no debe estar vacio</small>
                        <small *ngIf="LinkProject?.errors?.['pattern']" class="text-danger">Debes ingresar una direccion valida</small>
                    </div><br>
               </div>

               <label class="col-sm-2 col-form-label">Disponible:</label>
               <div class="col-sm-15">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="enabledRadio"  id="flexRadioDefault1" value="SI" formControlName="enabled">
                    <label class="form-check-label" for="enable">
                      Si
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="enabledRadio"  id="flexRadioDefault2" value="NO"  formControlName="disabled">
                    <label class="form-check-label" for="disabled">
                      No
                    </label>
                  </div>
                  
              </div>
              <input type="submit" class="btn btn-primary mt-2" (click)="submitForm()" [disabled]="form.invalid">
            </div>
        </form>
    </div>


</section>
