
<div id="bodyHome">
  
    <app-porter></app-porter>
    
    <app-navigation id="navbar"></app-navigation>
    <app-arrow *ngIf="enableArrow"></app-arrow>

    <main class="container-fluid" id="main_about">

        <div class="h-100">
          <app-aside *ngIf="enableAside" (messageEvent)="receiveMessage($event)" id="aside"></app-aside>
          <app-about *ngIf="enableComponent"  class="{{pos_about}}"></app-about>
        </div>
            
        <div class="container-fluid">
          <!--catalogo de proyectos (deben estar hubicados en componentes independientes)-->
            <app-projects-container *ngIf="enableProjectComponent"></app-projects-container>
        </div>
      
    </main>

    <app-footer *ngIf="enableFooterComponent"></app-footer>
</div> 

<app-home-edit></app-home-edit>

 