
<div id="bodyHome">
  
    <app-porter></app-porter>
    
    <app-navigation></app-navigation>

    <main class="container-fluid" id="main_about">

        <div class="row h-100">
          <app-aside class="col-1"></app-aside>
          <app-about class="col-11"></app-about>
          
        </div>
            
        <div class="container.fluid">
          <!--catalogo de proyectos (deben estar hubicados en componentes independientes)-->
            <app-projects-container></app-projects-container>
        </div>
      
    </main>

    <app-footer></app-footer>
</div>  

 