#bodyHome{
    background: rgb(222, 213, 205);
    width: 100%;
}

#knowledges-container{
    margin-left: 10%;
}

#infoAndSkills_container{
    border: 1.5px groove var(--difused-black);
    margin-top: 5%;
    margin-bottom: 5%;
}


#main_about{
    position: relative;
    margin: 15px;
    margin-top: 100px;
}


.anchor{
    cursor: pointer;
    color: white;
}

.div_info{
    margin: 25px;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 1;

}



