#bodyHome{
    background: rgb(222, 213, 205);
    width: 100%;
}

#knowledges-container{
    margin-left: 10%;
}

#infoAndSkills_container{
    border: 1.5px groove var(--difused-black);
    margin-top: 5%;
    margin-bottom: 5%;
}


#main_about{
    position: relative;
    margin: 15px;
    margin-top: 100px;
}


.anchor{
    cursor: pointer;
    color: white;
}

.div_info{
    margin: 25px;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 1;

}

/*posicion y movimiento del contenedor about al abrir o cerrar el asidebar*/

.about_pos--before{
    position: relative;
    animation: move_left_aboutcont .25s ease 1 forwards;
}

@keyframes move_left_aboutcont {
    
    from{
        left: 2.5vw;
    }
    
    to{
        left: 0vw;
    }
}

.about_pos--after{
    position: relative;
    animation: move_rigth_aboutcont .25s ease 1 forwards;

}

@keyframes move_rigth_aboutcont {
    
    from{
        left: 0vw;
    }
    
    to{
        left: 2.5vw;
    }
}





