
#bodyHome{
    width: 100%;
    margin: 0%;
    background-color: rgb(222, 213, 205)!important;

}

#main_about{
    margin: 10% 1% 10% 2%;
}


#knowledges-container{
    margin-left: 10%;
}

#infoAndSkills_container{
    border: 1.5px groove var(--difused-black);
    margin-top: 5%;
    margin-bottom: 5%;
}


.anchor{
    cursor: pointer;
    color: white;
}

.div_info{
    margin: 25px;
}


#navbar{

    position: sticky;
    top: 0;
    z-index: 1;

}




/*posicion y movimiento del contenedor about al abrir o cerrar el asidebar*/

.about_pos--before{
    position: relative;
    animation: move_left_aboutcont .25s ease 1 forwards;
}

@keyframes move_left_aboutcont {
    
    from{
        left: 2.5%;
    }
    
    to{
        left: 0%;
    }
}

.about_pos--after{
    position: relative;
    animation: move_rigth_aboutcont .25s ease 1 forwards;

}

@keyframes move_rigth_aboutcont {
    
    from{
        left: 0%;
    }
    
    to{
        left: 2.5%;
    }
}





