<!--barra de progreso lenguajes y herramientas de programacion-->


<div id="comp-container" (dblclick)="disableSelectedButtoms()">
    <div>
      <h1 style="color: green">Conocimientos</h1>
    </div>
    
    <small><b> Años de experiencia</b></small><br>

    <div class="d-flex justify-content-between"> <!--parte superior-->

        <div class="sp">
            <span>0</span>
            <span>3</span>
        </div>
       
        <div class="sp">
            <span>0</span>
            <span>3</span>
        </div>
    </div><br>
    <!--recorrido de los elementos de array lenguages de knowledges.ts-->
    <div *ngIf="knowledges.length > 0; else noDataTemplate">
        <div class="row" *ngFor="let knowledge_pares of knowledges; let i=index">
            <div class="col-6 mb-3 position-relative" *ngFor="let knowledge of knowledge_pares; let j=index">
                <i class="bi bi-pencil-square pen text-warning" id="edit_pen" (click)="onEditPen(i, j)"></i>
                <i class="bi bi-trash pen text-danger" id="delete_trash" (click)="onDeleteTrash(i, j)"></i>
                <h5 [hidden]="editPen && i ==indexsEditKnw[0] && j == indexsEditKnw[1]">{{knowledge.name}}</h5>
                <form [formGroup]="knwForm">
                    <input *ngIf="editPen && i ==indexsEditKnw[0] && j == indexsEditKnw[1]" name="name" class="form-control m-2 w-75"  type="text" [placeholder]="knowledge.name" [value]="knowledge.name" formControlName="name">
                    <input *ngIf="editPen && i ==indexsEditKnw[0] && j == indexsEditKnw[1]" name="date" class="form-control m-2 w-75"  type="date" [max]="datePickerId" formControlName="date">
                    <button *ngIf="editPen && i ==indexsEditKnw[0] && j == indexsEditKnw[1]" class="btn btn-warning m-1" (click)="onEditButtom(i, j)" >editar</button>
                    <button *ngIf="deleteTrash && i ==indexsDeleteKnw[0] && j == indexsDeleteKnw[1]" class="btn btn-danger" (click)="onDeleteButtom(i,j)">eliminar</button>
                </form>
                <div [hidden]="editPen && i ==indexsEditKnw[0] && j == indexsEditKnw[1] || deleteTrash && i ==indexsEditKnw[0] && j == indexsEditKnw[1]" 
                class="progress knw-container">
                    <div class="{{knowledge.progressbar}} progress--bar" [ngStyle]="{'width' : knowledge.width.toString()+'%'}">
                    </div>
                </div>
            </div>
        </div><br>
    </div>
    <ng-template #noDataTemplate>
        <app-no-data-template></app-no-data-template>
    </ng-template>


    <i class="bi bi-plus-square text-dark text-align-center" id="add_square" (click)="onAddSquare()" *ngIf="!openKnwForm"></i>



 <div *ngIf="openKnwForm" cdkDrag id="form">
    <form [formGroup]="knwForm">
        <button *ngIf="openKnwForm" type="button" class="btn-close bg-light" id="close_button" aria-label="Close" (click)="onCloseKnwForm()"></button>
        <div class="form-group-row elementP div">
            <label class="col-sm-2 col-form-label">Lenguaje:</label>
            <div class="col-sm-15">
                <input [ngClass]="{'is-invalid' : Name?.errors && Name?.touched, 'is-valid' : !Name?.errors && Name?.touched}" class="form-control w-75"  type="text" formControlName="name" >
           </div>
           <label class="col-sm-2 col-form-label">Fecha de inicio:</label>
            <div class="col-sm-15">
                <input [ngClass]="{'is-invalid' : Date?.errors && Date?.touched, 'is-valid' : !Date?.errors && Date?.touched}" class="form-control w-75" type="date" [max]="datePickerId" formControlName="date" >
           </div>
           <input type="submit" class="btn btn-primary mt-2" (click)="submitAddForm()" [disabled]="knwForm.invalid">
        </div>
    </form>
</div>

</div>