header{
    margin: 2.5rem 0rem;
}
#account_button{
    width: 25%;
    margin: 0rem 2rem 0rem 1rem;
    min-width: 120px;
}

main{
    background-color: black;
    height: 150vh;
    width: 100%;
}

#principal_background{
    
    padding: 20% 20%;
    height: 100%;
    text-align: center;
    
}

#welcome_message{
    display: inline;
    position: relative;
    font-size: 7rem;

    font-family: 'Bungee Spice', cursive;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 5px;
    animation: ghost 5s linear forwards;
       
}

@keyframes ghost {
    from{color: black;}
    
}
/*
span{
    position: absolute;
    right: 0;
    width: 100%;
    border-left: 2px solid white;
    animation: typing 5s infinite alternate steps(12);
    background-color: black;

}

@keyframes typing {
    from{width: 100%;}
    to{width: 0%;}
    
}*/



@media only screen and (max-width: 900px){
    #welcome_message{ font-size: xx-large; margin: auto;}
    
}

