
<div class="container-fluid" id="container">
  <div class="header">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end " >
       <button class="btn btn-outline-dark" id="account_button" type="button" (click)="enterHome()" [disabled]="optionSelected">ingresar</button>
       <button class="btn btn-outline-dark" id="account_button" type="button" (click)="register()" [disabled]="optionSelected">registrar</button>
    </div>
  </div>
  
   
  <main class="container-fluid">
    <div id="principal_background">
      <h1 class="text-center" id="welcome_message">BIENVENID@!<span>&#160;</span></h1>
    </div>
    <!--formularios de ingreso y registro -->
    <app-register-form (onCloseRegisterEvent)="closeRegisterForm($event)" *ngIf="signIn"></app-register-form>
    <app-login (onCloseLogingEvent)="closeLoginForm($event)" *ngIf="login"></app-login>
  </main>
</div>