<form class="container-fluid" id="enter_form">
    <button type="button" class="btn-close" aria-label="Close" (click)="closeForm()"></button>
    <div class="form-group-row elementP">
        <label class="col-sm-2 col-form-label">Usuario:</label>
        <div class="col-sm-15">
            <input class="form-control" type="text" [formControl]="user" required>
       </div>
    </div><br>
        <div class="form-group-row elementP">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-15">
            <input class="form-control" type="email" [formControl]="email" required>
        </div>
    </div><br>
    <div class="form-group-row elementP">
        <label class="col-sm-2 col-form-label">Contraseña:</label>
        <div class="col-sm-15">
            <input class="form-control" type="password" [formControl]="password" required>
        </div>
   </div><br>
   <div class="d-grid gap-2">
    <input type="submit" class="btn btn-primary" (click)="submitSignIn()">
   </div>


</form>
