<section class="container-fluid" id="about_container">
    <div class="row">
        <h3 class="mx-auto">Sobre mi</h3>
        <!--numeracion de 4 habilidades-->
        <app-skills-edit></app-skills-edit>
        <div class="mx-auto">Perfil</div>
        <!-- breve despripcion masc una foto-->
    </div>
    <div class="row" id="infoAndSkills_container">
        
        <div class="col-11 col-md-3 div_info">
            <app-profile-info-edit></app-profile-info-edit>
        </div>
        <!-- barra con porcentaje de conocimientos-->
        <div class="col-12 col-md-8 div_info" id="knowledges-container">
        <app-knowledges-edit></app-knowledges-edit>
        
       </div>
    </div>
  </section>
