<p>knowledges works!</p>
<div>
<h1 style="color: green">Skills</h1>
    <br/>
    <div class="container">
        <h5>Python</h5>
        <div class="progress knw-container">
            <div class="progress-bar bg-primary" id="python"
            >55%

            </div>
        </div>
    </div><br>

    <div class="container">
        <h5>JavaScript</h5>
        <div class="progress knw-primary">
            <div class="progress-bar bg-success" id="javascript"
            >60%

            </div>
        </div>
    </div><br>

    <div class="container">
        <h5>HTML</h5>
        <div class="progress knw-container">
            <div class="progress-bar bg-success" id="html"
            >75%

            </div>
        </div>
    </div><br>

    <div class="container">
        <h5>CSS</h5>
        <div class="progress knw-container">
            <div class="progress-bar bg-primary" id="css"
            >55%

            </div>
        </div>
    </div><br>

    <div class="container">
        <h5>MySql</h5>
        <div class="progress knw-container">
            <div class="progress-bar bg-warning" id="mysql"
            >45%

            </div>
        </div>
    </div><br>

    <div class="container">
        <h5>Java</h5>
        <div class="progress knw-container">
            <div class="progress-bar bg-warning" id="java"
            >35%

            </div>
        </div>
    </div><br>

    <div class="container">
        <h5>Spring Boot</h5>
        <div class="progress knw-container">
            <div class="progress-bar bg-danger" id="springboot"
            >2%

            </div>
        </div>
    </div><br>

    <div class="container">
        <h5>Angular</h5>
        <div class="progress knw-container">
            <div class="progress-bar bg-warning" id="angular"
            >40%

            </div>
        </div>
    </div><br>

    <div class="container">
        <h5>Inglés(B2)</h5>
        <div class="progress knw-container">
            <div class="progress-bar bg-primary" id="ingles"
            >60%

            </div>
        </div>
    </div><br>




        <!--
        <div class="progress-bar bg-success"
            style="width: 20%">20%
        </div>
        <div class="progress-bar bg-danger
            progress-bar-stripped" style="width: 30%">
            30%
        </div>
        <div class="progress-bar bg-warning
            progress-bar-stripped" style="width: 40%">
            40%
        </div>
        -->
    

</div>
