#comp-container{
  margin-left: 5%;
  margin-right: 0%;
  
}

.sp{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: bold;
    margin: auto 2% auto 0.5%;
}



.knw-container{
    width: 100%;
   
}



#python{
    width: 90%;
}

#javascript{
    width: 65%;
}

#html{
    width: 75%;
}

#css{
    width: 60%;
}

#mysql{
    width: 35%;
}

#java{
    width: 10%;
}

#springboot{
    width: 1%;
}

#ingles{
    width: 100%;
}

#angular{
    width: 37%;
}

#git{
    width: 23%;
}

#github{
    width: 35%;
}

#bootstrap{
    width: 45%;
}