<!--barra de progreso lenguajes y herramientas de programacion-->


<div id="comp-container">
    <h1 style="color: green">Conocimientos</h1>
    
    <small><b> Años de experiencia</b></small><br>

    <div div *ngIf="isLoading" class="d-flex justify-content-between"> <!--parte superior-->

        <div class="sp">
            <span>0</span>
            <span>3</span>
        </div>
       
        <div class="sp">
            <span>0</span>
            <span>3</span>
        </div>
    </div><br>
    <!--recorrido de los elementos de array lenguages de knowledges.ts-->
    <div *ngIf="knowledges.length > 0; else noDataTemplate">
        <div class="row" *ngFor="let knowledge_pares of knowledges">
            <div class="col-6 mb-3" *ngFor="let knowledge of knowledge_pares">
                <h5>{{knowledge.name}}</h5>
                <div class="progress knw-container">
                    <div class="{{knowledge.progressbar}} progress--bar" [ngStyle]="{'width' : knowledge.width.toString()+'%'}">
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <h4>Nivel</h4>
            <div class="col-3 sm-1">
                <h6 class="text-success">Alto</h6>
            </div>
            <div class="col-3 sm-1">
                <h6 class="text-primary">Medio</h6>
            </div>
            <div class="col-3 sm-1">
                <h6 class="text-warning">Bajo</h6>
            </div>
            <div class="col-3 sm-1">
                <h6 class="text-danger">Inicial</h6>
            </div>
        </div><br>
    </div>

<ng-template #noDataTemplate>
    <app-no-data-template></app-no-data-template>
</ng-template>



</div>
