<!--barra de progreso lenguajes y herramientas de programacion-->


<div id="comp-container">
    <h1 style="color: green">Conocimientos</h1>
    
    <small><b>  años de estudio</b></small><br>

    <div div *ngIf="isLoading" class="d-flex justify-content-between"> <!--parte superior-->

        <div class="sp">
            <span>0</span>
            <span>2</span>
        </div>
       
        <div class="sp">
            <span>0</span>
            <span>2</span>
        </div>
    </div><br>
    <!--recorrido de los elementos de array lenguages de knowledges.ts-->
    <div *ngIf="languages.length > 0; else noDataTemplate">
        <div class="row" *ngFor="let language_pares of languages">
            <div class="col-6 mb-3" *ngFor="let language of language_pares">
                <h5>{{language.name}}</h5>
                <div class="progress knw-container">
                    <div class="{{language.progressbar}} progress--bar" [ngStyle]="{'width' : language.width.toString()+'%'}">
                    </div>
                </div>
            </div>
        </div><br>
    </div>

<ng-template #noDataTemplate>
    <app-no-data-template></app-no-data-template>
</ng-template>



</div>
