/*movimiento del asidebar al ser activado o desactivado*/

#sidebar--closed{
    position: absolute;
    animation: open .5s ease 1 forwards;
}

@keyframes open {
    from{
        left: -10%
    }
    to{
        left: 0%
    }
    
}

#sidebar--opened{
    margin-right: 5%;
    position: absolute;
    animation: close .5s ease 1 forwards;
}

@keyframes close {
    from{
        left: 0%
    }
    to{
        left: -10%
    }
    
}
