
<div *ngIf="!visibilityOfSidebar" (mouseover)="showAsidebar()" id="sidebar_container"></div> <!--abre cierra sidebar-->

<ng-container *ngIf="visibilityOfSidebar"> <!--muestra/oculta el sidebar-->
    <span (click)="showAsidebar()" class="material-symbols-outlined" id="menu">menu</span>
    <div class="h-100 w-75 row bar h-100 p-2 bg-light w-75 position-absolute" id="{{sidebar}}">
        <div class="h-100 w-100 col-auto bg-light rounded-3">
            <div class=" d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center top">
                <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Icon-only">
                    <i class="bi-bootstrap fs-1">ienvenid@ {{user.nickname}}</i>
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                    <li class="nav-item m-4">
                        <a href="#" class="nav-link py-3" >
                            <i class="bi-house fs-1"></i>
                            <h5>Inicio</h5>
                        </a>
                    </li>
                    <li class="nav-item m-4">
                        <a href="#" class="nav-link py-3">
                            <i class="material-symbols-outlined fs-1">
                                sports_score
                            </i>
                            <h5>Puntuación</h5>
                        </a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi-person-circle fs-1"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><a class="dropdown-item" href="#">Eliminar</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                        <li><a class="dropdown-item" routerLink="/user-profile">Perfil+</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-container>