footer{
    display: flex;
    background-color: black;
    position: relative;
    bottom: 0px;
    height: 100px;
    width: 100%;
    padding: 15px 2.5% 1px 2.5%;
    
}



footer a{
    color: white;
    margin: auto 0.5% auto 2.5%;
}