footer{
    display: flex;
    justify-content: right;
    background-color: black;
    position: relative;
    bottom: 0px;
    height: 100px;
    width: 100%;
    padding: 15px 2.5% 1px 2.5%;
    
}



footer a{
    display: inline;
    margin: auto 0.5% auto 2.5%;
    background-color: black;
    width: 25px;
    transition: width;
}

footer a:hover{
    width: 40px;
    transition-delay: .10s;
}

