<section class="container-fluid" id="about_container">
    <div class="row">
        <h3 class="mx-auto">Sobre mi</h3>
        <!--numeracion de 4 habilidades-->
        <app-skills></app-skills>
        <div class="mx-auto">Perfil</div>
        <!-- breve despripcion masc una foto-->
    </div>
    <div class="row" id="infoAndSkills_container">
        
        <div class="col-3 div_info">
            <app-profile-info></app-profile-info>
        </div>
        <!-- barra con porcentaje de conocimientos-->
        <div class="col-9 div_info" id="knowledges-container">
        <app-knowledges></app-knowledges>
        
       </div>
    </div>
  </section>
