<section class="container">
    <div class="row">
        <h3 class="mx-auto">Sobre mi</h3>
        <!--numeracion de 4 habilidades-->
        <div class="mx-auto">habilidades</div>
        <!-- breve despripcion masc una foto-->
    </div>
    <div class="row" id="infoAndSkills_container">
        <div class="col-4 div_info">
        <div>
            <img src="#" alt="foto">
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam tempora adipisci amet numquam officiis pariatur! Eveniet eius fugit aliquid porro obcaecati eos nihil? Expedita, accusamus voluptate fuga fugit nihil enim?</p>
        </div>
        <!-- barra con porcentaje de conocimientos-->
        <div class="col-8 div_info" id="knowledges-container">
        <app-knowledges></app-knowledges>
        
       </div>
    </div>
  </section>
