
.box_skill{
    display: block;
    width: 20%;
    text-align: center;
    margin: 2.5%;
    
}

.sk{
    cursor:none;
}

#container{
    width: 95%;
    padding: 2.5%;
}

@media screen and (max-width:750px){
    .box_skill{
        width: 90%;
        margin: 5% auto;
        
    }
    
}

@media screen and (max-width:500px){
    .box_skill{
        width: 60%;
        margin: 2% auto;
    }

    
    
}