<div class="d-flex p2 justify-content-between m-5">
    <div [@animation1]="arrayDivs[0]" class="alert alert-info box_skill sk" (mouseenter)="enlarge(0)" (mouseleave)="reduce(0)">Inglés(B2)</div>
    <div [@animation1]="arrayDivs[1]" class="alert alert-info box_skill sk" (mouseenter)="enlarge(1)" (mouseleave)="reduce(1)">Asertivo</div>
    <div [@animation1]="arrayDivs[2]" class="alert alert-info box_skill sk" (mouseenter)="enlarge(2)" (mouseleave)="reduce(2)">Comprometido</div>
    <div [@animation1]="arrayDivs[3]" class="alert alert-info box_skill sk" (mouseenter)="enlarge(3)" (mouseleave)="reduce(3)">Proactivo</div>
</div>