.box_skill{
    width: 150px;
    text-align: center;
}

.sk{
    cursor:none;
}
/*
.selected{
    animation-name: skillSelected;
    animation-duration: 4s;
}

@keyframes skillSelected {

    from {background-color: red;}
    to {background-color: yellow;}
    
}*/