

#container{
    position: relative;
    margin-bottom: 10%;

}

.box_skill{
    display: block;
    width: 20%;
    text-align: center;
    margin: 2.5%;
    cursor:none;
    
}


#container_skillsDivs{
    width: 95%;
    padding: 2.5%;
}

/*botones edicion*/
.pen{
    position: absolute;
    cursor: pointer;
    top: -25%;
    transition: scale, transform 0.2s;
}

.pen:hover{
    scale: 1.5;
    transition-delay: .05s;
    transform: translateY(-5px);
    filter: brightness(.75);
}

#edit_pen{
    right: 0%;
}
#delete_trash{
    right: -10%;
}

#skill_up_text{
    border-right:0rem;
    border-left:0rem;
    border-bottom:0rem;
}
#close_button{
    position: absolute;
    right: 2px;
    top: 2px;
}

#add_square{
    position: relative;
    left: 25%;
    top: 0;
    margin: 10% 25%;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    transition: font-size filter .25s;
}

#add_square:hover{
    font-size: 2.5rem;
    filter: brightness(1.1)
}


@media screen and (max-width:750px){
    .box_skill{
        width: 90%;
        margin: 5% auto;    
    }  
}

@media screen and (max-width:500px){
    .box_skill{
        width: 60%;
        margin: 2% auto;
    }

    
    
}

#form_skills{
    background: var(--input-container-color);
    color: aliceblue;
    position: absolute;
    top: -15%;
    right: 1rem;
    opacity: .9;
    border-radius: 2.5%;
    max-width: 20rem;
    margin: 10%;
    box-shadow: var(--boxes-shadow);
    z-index: var(--highest-z-index);
}