<!--foto-->
<div *ngIf="editPhoto; else elseInputPhoto">
    <i class="bi bi-pencil-square pen" (click)="onPhotoEditPen()"></i>
    <img [src]="imageUrl" alt="foto" class="img-fluid rounded float-right">
</div>

<ng-template #elseInputPhoto>
    <div class="container">
        <div class="input-group-prepend">
            <i class="bi bi-pencil-square pen" (click)="onPhotoEditPen()"></i>
            <span class="input-group-text">foto de perfil</span>
        </div>
        
        <label class="form-label" for="customFile">carga tu imagen aqui</label>
        <input type="file" accept="image/*" name="inputPhoto" (change)="uploadImg($event)" class="form-control" id="customFile"><br>
        <div>{{ uploadPercent  | async | number: '2.1' }}</div>
        <button class="btn btn-secondary d-block position-relative start-25 w-75 m-2" [disabled]="isUploadingIncomplete" (click)="onSubmitPhoto()">Guardar</button>
        <button class="btn btn-danger d-block position-relative start-30 w-75 m-2" (click)="onDeletePhoto()" >eliminar</button>
    </div>
</ng-template>
<br>


<!--descripción-->
<div *ngIf="onEditText; else elseInputText">
    <div>
        <i class="bi bi-pencil-square pen" (click)="textEditPen()"></i>
        <h2>{{title== undefined? "Sin titulo": title}}</h2>
    </div>
   <p>{{text== undefined? "Sin descripción": text}}</p>
</div>

<ng-template #elseInputText>
    <form [formGroup]="form"  class="container-fluid">
        <div class="input-group-prepend">
            <i class="bi bi-pencil-square pen" (click)="textEditPen()"></i>
            <span class="input-group-text">Descripción</span>
        </div>
        <input type="text" [placeholder]="title== undefined? 'titulo':title" class="form-control m-2" formControlName="title" placeholder="titlo"
        [ngClass]="{'is-invalid' : Title?.errors && Title?.touched, 'is-valid' : !Title?.errors}">

        <textarea class="form-control" aria-label="With textarea" name="textInput" [placeholder]="text == undefined? 'descripción': text"
        [ngClass]="{'is-invalid' : Text?.errors && Text?.touched, 'is-valid' : !Text?.errors}" formControlName="text"
        
        ></textarea>
        <button class="btn btn-secondary position-relative start-50 w-50 mr-2" (click)="onEditButtom()" [disabled]="form.invalid">editar</button>
    </form>
</ng-template>