
#porter{
    position: relative;
    height: 35vh;
    width: 100%;
    background: linear-gradient(to left, rgba(80,185,251,70), rgba(71,170,231,255) );
}

#img{
    position: absolute;
    top: 10%;
    float: left;
    width: 15rem;
}

