/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* welcome font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import '~ngx-toastr/toastr.css';

:root{
    --difused-black: rgba(0, 0, 0, .25);
    --boxes-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    --gray_letter: #7a7a7a;
    --base-z-index: 1;
    --base-high-z-index: 2;
    --middle-z-index: 3;
    --middle-high-z-index: 4;
    --highest-z-index: 5;
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans-serif);
}

p{
    color: var(--gray_letter);
}

body{
    overflow-x: hidden;
    width: 99vw;
    height: 90rem;
    
}