div{
    position: relative;
    margin: 1rem auto;
}


.pen{
    position: absolute;
    right: 0%;
    top: 0%;
    cursor: pointer;
}

#input_photo{
    text-decoration: none;
    max-width: 70%;
}

img{
    width: 13rem;
}