#login_form{
    position: absolute;
    top: 50%;
    right: 35%;
    left: auto;
    align-content: center;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
    padding: 5rem;
    font-size: larger;
}

.elementsP{
    margin-left: auto;
    margin-right: auto;
}

#close_button{
    position: absolute;
    right: 10px;
    top: 10px;
}
