<form [formGroup]="form" (ngSubmit)="submitSignIn()"  class="container-fluid" id="enter_form">
    <button type="button" class="btn-close" id="close_button" aria-label="Close" (click)="closingForm()"></button>
    
    
    <div class="form-group-row elementP div">
        <label class="col-sm-2 col-form-label">Nombre:</label>
        <div class="col-sm-15">
            <input name="name" [ngClass]="{'is-invalid' : Name?.errors && Name?.touched, 'is-valid' : !Name?.errors && Name?.touched}" class="form-control" type="text" formControlName="name" >
       </div>
       <div *ngIf="Name?.errors && Name?.touched">
        <small *ngIf="Name?.hasError('required')" class="text-danger">El campo nombre no debe estar vacio</small>
        <small *ngIf="Name?.errors?.['maxlength']" class="text-danger">El nombre debe ser mas corto</small>
        <small *ngIf="Name?.errors?.['minlength']" class="text-danger">El nombre debe ser mas largo</small>
        <small *ngIf="Name?.errors?.['pattern']" class="text-danger">Tu nombre solo puede tener con letras</small>
    </div>
    </div><br>
    
    
    <div class="form-group-row elementP">
        <label class="col-sm-2 col-form-label">Apellido:</label>
        <div class="col-sm-15">
            <input   name="lastname" [ngClass]="{'is-invalid' : Lastname?.errors && Lastname?.touched, 'is-valid' : !Lastname?.errors && Lastname?.touched}" class="form-control" type="text" formControlName="lastname" >
       </div>
       <div *ngIf="Lastname?.errors && Lastname?.touched">
        <small *ngIf="Lastname?.hasError('required')" class="text-danger">El campo apellido no debe estar vacio</small>
        <small *ngIf="Lastname?.errors?.['maxlength']" class="text-danger">El apellido debe ser mas corto</small>
        <small *ngIf="Lastname?.errors?.['minlength']" class="text-danger">El apellido debe ser mas largo</small>
        <small *ngIf="Lastname?.errors?.['pattern']" class="text-danger">Tu apellido solo puede tener letras</small>
    </div>
    </div><br>
    
    <div class="form-group-row elementP">
        <label class="col-sm-2 col-form-label">Nick Usuario:</label>
        <div class="col-sm-15">
            <input name="nickname" [ngClass]="{'is-invalid' : Nickname?.errors && Nickname?.touched, 'is-valid' : !Nickname?.errors && Nickname?.touched}"  class="form-control" type="text" required formControlName="nickname" >
       </div>
       <div *ngIf="Nickname?.errors && Nickname?.touched">
        <small *ngIf="Nickname?.hasError('required')" class="text-danger">El campo nick no debe estar vacio</small>
        <small *ngIf="Nickname?.errors?.['maxlength']" class="text-danger">Tu nick debe ser mas corto</small>
        <small *ngIf="Nickname?.errors?.['minlength']" class="text-danger">Tu nick debe ser mas largo</small>
        <small *ngIf="Nickname?.errors?.['pattern']" class="text-danger">Tu nick solo puede comenzar con letras</small>
    </div>
    </div><br>
        <div class="form-group-row elementP">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-15">
            <input name="email" [ngClass]="{'is-invalid' : Email?.errors && Email?.touched, 'is-valid' : !Email?.errors && Email?.touched}"  class="form-control" type="email" required formControlName="email" >
        </div>
        <div *ngIf="Email?.errors && Email?.touched">
            <small *ngIf="Email?.hasError('required')" class="text-danger">El campo email no debe estar vacio</small>
            <small *ngIf="Email?.hasError('email')" class="text-danger">El email ingresado no es valido</small>
        </div>
    </div><br>
    <div class="form-group-row elementP">
        <label class="col-sm-2 col-form-label">Contraseña:</label>
        <div class="col-sm-15">
            <input name="password" [ngClass]="{'is-invalid' : Password?.errors && Password?.touched, 'is-valid' : !Password?.errors && Password?.touched}" class="form-control" type="password" formControlName="password" >
        </div>
        <div *ngIf="Password?.errors && Password?.touched">
            <small *ngIf="Password?.hasError('required')" class="text-danger">El campo contraseña no debe estar vacio</small>
            <small *ngIf="Password?.errors?.['minlength']" class="text-danger">El campo contraseña debe ser mas larga</small>
            <small *ngIf="Password?.errors?.['maxlength']" class="text-danger">El campo contraseña debe ser mas corta</small>
        </div>
   </div><br>
   <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Registrarse</button>
   </div>


</form>
