.bd{
    /*background: linear-gradient(to right, #ffa600, #ff5722);*/
    /*background: linear-gradient(to right, #ffa600, #ffc107, #ffecb3);*/
    background: linear-gradient(to bottom, hsl(39, 100%, 90%), hsl(36, 100%, 90%));
    /* background: linear-gradient(to top right, #ffa600, #ffecb3, #ffcc80); */
    width: 100vw;
    height: 100%;
    padding: 0;
}
#register_form{ 
    width: 75vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
    padding: 2.5rem;
    font-size: larger;
    margin: 5%;
    
}

.elementsP{
    margin-left: auto;
    margin-right: auto;
}

#close_button{
    position: absolute;
    right: 0.25rem;
    top: 2.5rem;
}

@media only screen and (max-width: 600px) {
    #register_form {
      position: relative;
      left: 5rem;
      min-width: 90vw;
      margin-left: 5%;
      float: right;
    }
  }

