#enter_form{
   
    width: 50vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    opacity: 0.95;
    padding: 2.5rem;
    font-size: larger;
    margin: 5%;
    
}

.elementsP{
    margin-left: auto;
    margin-right: auto;
}

#close_button{
    position: absolute;
    right: 0.25rem;
    top: 2.5rem;
}

@media only screen and (max-width: 500px) {
    #enter_form{
        min-width: 95%;
        margin: 0.5%;
        word-wrap: break-word;
    }
    
}

